html,
body {
  height: 105%;
  background-color: #222d32;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #48e248;
}

.login-form {
  width: 380px;
  height: 450px;
  padding: 20px;
  background-color: #1a2226 !important;
  border-radius: 10px !important;
}

.register-form {
  width: 380px;
  height: 700px;
  padding: 20px;
  background-color: #1a2226 !important;
  border-radius: 10px !important;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: #1a2226;
  color: #fff;
  border: 2px solid #00ff00;
  border-radius: 10px;
  margin-bottom: 25px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border: none;
  background: #1a2226;
  color: #fff;
  margin: 0;
}

.card-title {
  font-weight: 900;
  padding-top: 30px;
}

.btn {
  background: #48e248 !important;
  color: #000 !important;
  font-size: 14px;
  border-radius: 10px;
}
